MEMORY {
    
    #  _   _               _                        
    # | | | | __ _ _ __ __| |_      ____ _ _ __ ___ 
    # | |_| |/ _` | '__/ _` \ \ /\ / / _` | '__/ _ \
    # |  _  | (_| | | | (_| |\ V  V / (_| | | |  __/
    # |_| |_|\__,_|_|  \__,_| \_/\_/ \__,_|_|  \___|

    # Zero Page RAM ($0000 - $00FF)
    ZP:
        start = $0000,
        size = $0100,
        type = rw,
        define = yes;

    # System RAM 
	RAM:
        start = $0100,
        size = $0700,
        type = rw,
        define = yes;

    # SRAM
    SRAM:
        start = $6000,
        size = $2000,
        type = rw,
        define = yes;
    
    #   ____           _        _     _            
    #  / ___|__ _ _ __| |_ _ __(_) __| | __ _  ___ 
    # | |   / _` | '__| __| '__| |/ _` |/ _` |/ _ \
    # | |__| (_| | |  | |_| |  | | (_| | (_| |  __/
    #  \____\__,_|_|   \__|_|  |_|\__,_|\__, |\___|
    #                                   |___/      

    # INES Cartridge Header
    HEADER:
        start = $0000,
        size = $0010,
        file = %O,
        fill = yes;

    
    # Program ROM ($8000-$FFFF)

    PRG00: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
	PRG01: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
	PRG02: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
	PRG03: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
	PRG04: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
	PRG05: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
	PRG06: start = $8000, size = $2000, file = %O, fill = yes, define = yes;
	PRG07: start = $A000, size = $2000, file = %O, fill = yes, define = yes;
	PRG08: start = $A000, size = $2000, file = %O, fill = yes, define = yes;
	PRG09: start = $A000, size = $2000, file = %O, fill = yes, define = yes;
	PRG0A: start = $A000, size = $2000, file = %O, fill = yes, define = yes;
	PRG0B: start = $A000, size = $2000, file = %O, fill = yes, define = yes;
	PRG0C: start = $A000, size = $2000, file = %O, fill = yes, define = yes;
	PRG0D: start = $A000, size = $2000, file = %O, fill = yes, define = yes;
	PRG0E: start = $C000, size = $2000, file = %O, fill = yes, define = yes;
	PRG0F: start = $E000, size = $2000, file = %O, fill = yes, define = yes;

    CHRROM:
        start = $0000,
        size = $20000,
        file = %O,
        fill = yes;
}   

SEGMENTS {
    # INES Header Data
    HEADER:
        load = HEADER,
        type = ro;

    ZEROPAGE:
        load = ZP,
        type = zp;

    BSS:
        load = RAM,
        type = bss,
        define = yes;

    STACK:
        load = RAM,
        type = bss,
        optional = yes;

    SAVERAM:
        load = SRAM,
        type = bss;

    BANK_00:    load = PRG00,  type = ro,   optional = yes;
    BANK_01:    load = PRG01,  type = ro,   optional = yes;
    BANK_02:    load = PRG02,  type = ro,   optional = yes;
    BANK_03:    load = PRG03,  type = ro,   optional = yes;
    BANK_04:    load = PRG04,  type = ro,   optional = yes;
    BANK_05:    load = PRG05,  type = ro,   optional = yes;
    BANK_06:    load = PRG06,  type = ro,   optional = yes;
    BANK_07:    load = PRG07,  type = ro,   optional = yes;
    BANK_08:    load = PRG08,  type = ro,   optional = yes;
    BANK_09:    load = PRG09,  type = ro,   optional = yes;
    BANK_0A:    load = PRG0A,  type = ro,   optional = yes;
    BANK_0B:    load = PRG0B,  type = ro,   optional = yes;
    BANK_0C:    load = PRG0C,  type = ro,   optional = yes;
    BANK_0D:    load = PRG0D,  type = ro,   optional = yes;
    CODE:       load = PRG0E,  type = ro;
    BANK_0F:    load = PRG0F,  type = ro,   optional = yes;

	SPRBANK00:  load = CHRROM,  type = ro,  offset = $00000,    optional = yes;
    BKGBANK00:  load = CHRROM,  type = ro,  offset = $01000,    optional = yes;
    SPRBANK01:  load = CHRROM,  type = ro,  offset = $02000,    optional = yes;
    BKGBANK01:  load = CHRROM,  type = ro,  offset = $03000,    optional = yes;
    SPRBANK02:  load = CHRROM,  type = ro,  offset = $04000,    optional = yes;
    BKGBANK02:  load = CHRROM,  type = ro,  offset = $05000,    optional = yes;
    SPRBANK03:  load = CHRROM,  type = ro,  offset = $06000,    optional = yes;
    BKGBANK03:  load = CHRROM,  type = ro,  offset = $07000,    optional = yes;
    SPRBANK04:  load = CHRROM,  type = ro,  offset = $08000,    optional = yes;
    BKGBANK04:  load = CHRROM,  type = ro,  offset = $09000,    optional = yes;
    SPRBANK05:  load = CHRROM,  type = ro,  offset = $0A000,    optional = yes;
    BKGBANK05:  load = CHRROM,  type = ro,  offset = $0B000,    optional = yes;
    SPRBANK06:  load = CHRROM,  type = ro,  offset = $0C000,    optional = yes;
    BKGBANK06:  load = CHRROM,  type = ro,  offset = $0D000,    optional = yes;
    SPRBANK07:  load = CHRROM,  type = ro,  offset = $0E000,    optional = yes;
    BKGBANK07:  load = CHRROM,  type = ro,  offset = $0F000,    optional = yes;

	VECTORS:
        load = PRG0F,
        start = $FFFA,
        type = ro;
}

SYMBOLS {
    __STACKSIZE__:                                  type = weak,    value = $0700;     # One 256-byte page stack
	__STACK_START__:                                type = weak,    value = $0100;

	NES_MAPPER:	                                    type = weak,    value = 4; 		# MMC3 Mapper
	NES_PRG_BANKS:	                                type = weak,    value = 16;     # 256 KB PRG
	NES_CHR_BANKS:	                                type = weak,    value = 16;     # 128 KB CHR
	NES_MIRRORING:	                                type = weak,    value = 0; 		# Four Screen Mirroring
}